KIWI_PASSWORD=kiwi2026
FLASK_SECRET_KEY=kiwi-s3cr3t-change-me

MYSQL_HOST=nlb-q47d4uw6iwr03nqaxh.cn-shanghai.nlb.aliyuncsslb.com
MYSQL_PORT=3306
MYSQL_USER=wenjie.gu
MYSQL_PASSWORD=your_password_here
MYSQL_DB=human_case
